#firstImp {
  height: 30px;
  width: 300px;
}
#button {
  position: relative;
  left: -6px;
  bottom: -3px;
  font-weight: bold;
  font-size: 25px;
  height: 36px;
  width: 35px;
}
body {
  font-family: "Lemonada", cursive;
}
.title {
  display: flex;
  justify-content: center;
  align-content: center;
}
.mainDiv {
  width: 348px;
}
#border {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  border: 1px solid;
  width: 340px;
  height: 30px;
}
#val {
  flex-grow: 2;
  display: flex;
  align-self: center;
}
#task {
  margin-top: 5px;
}
#input {
  position: relative;
  top: 7px;
}
