#firstImp {
  height: 30px;
  width: 300px;
}
#button {
  height: 35px;
  width: 35px;
}

#border {
  border: 1px solid;
  width: 344px;
  height: 30px;
}
#delete {
  margin-right: 0px;
  margin-top: 5px;
}
