#firstImp {
  height: 30px;
  width: 300px;
}
#button {
  position: relative;
  left: -1px;
  bottom: 0px;
  font-weight: bold;
  font-size: 25px;
  height: 36px;
  width: 35px;
}
body {
  font-family: "Lemonada", cursive;
}
.title {
  display: flex;
  justify-content: center;
  align-content: center;
}
.mainDiv {
  width: 348px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

#border {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  border: 1px solid;
  width: 340px;
  height: 30px;
}
#val {
  flex-grow: 2;
  display: flex;
  align-self: center;
}
#task {
  margin-top: 5px;
}
#input {
  position: relative;
  top: 7px;
}
#delete:active {
  position: relative;
  top: 1px;
}

#button:active {
  position: relative;
  top: 1px;
}
#border:active {
  position: relative;
  animation: delete 2s 1;
  animation-timing-function: ease-in;
}
.inputAndButton {
  display: flex;
  flex-direction: row;
}
@keyframes delete {
  0% {
    opacity: 100%;
    left: 0px;
    top: 0px;
  }
  100% {
    opacity: 0%;
    left: 100px;
    top: 0px;
  }
}
@media screen and (max-width: 380px) {
  #border {
    width: auto;
  }
  .mainDiv {
    width: auto;
  }
  #firstImp {
    width: auto;
  }
  #button {
    position: relative;
    left: 0px;
    bottom: 0.4px;
  }
}
@keyframes delete {
  0% {
    opacity: 100%;
    left: 0px;
    top: 0px;
  }
  100% {
    opacity: 0%;
    left: 0px;
    top: 200px;
  }
}
